main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* 100% - (ヘッダー高さ + フッター高さ) （ヘッダー・フッター高さはborderを含む）*/
	height: calc(100% - (50px + 44px));
	fill: #ff0000;
}